dl[is="accordion-toggle"] {
	background: aliceblue;
	display: flex;
	flex-direction: column;
	margin: 0;

	dt {
		flex: 1 1 auto;
		margin: 6px;
		padding: 2px;
		background: #E2F1FF;
		cursor: pointer;
	}
	dd {
		flex: 1 1 auto;
		.u-hidden {
			transition: visibility 0s linear 0.7s, opacity 0.7s ease-in-out;
		}
	}
}

.accordion-hidden {
	display: none;
}
