// normalize the component style and encapsulate
dl[is="accordion-toggle"] {
	display: flex;
	flex-direction: column;
	margin: 0;

	dt {
		flex: 1 1 auto;
		cursor: pointer;
	}

	dd {
		flex: 1 1 auto;
		margin: 0;
		
		&.accordion-show {
			display: block;
		}

		&.accordion-hidden {
			display: none;
		}
	}
}
