body {
	font-family: Verdana, serif;
}

.app-loadingSection img {
	position: absolute;
	top: 10px;
	right: 10px;
}

.u-wrapper {
	border: 1px gray solid;
	margin: 10px;
}

.u-bold {
	font-weight: bold;
}

.app-playground {
	padding: 5px;
}

// custom the element:
dl[is="accordion-toggle"] {
	background: aliceblue;

	dt {
		margin: 6px;
		padding: 2px;
		background: #E2F1FF;
	}
	dd {
		background: #FFFFFF;
	}
}
